{
  "extends": ["react-app", "airbnb-base", "plugin:jest/recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react", "jest", "cypress", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "settings": {},
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["!/src/**/*.js"] }]
  }
}
